{% extends "::gentelella.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} Usuario {% endblock %}
{% block Titulo %} DeportesTINN {% endblock %}
{% block Subtitulo %} Cambio de Contraseña <small>Editar</small> {% endblock %} 
{% block cerrar %} href="{{ path('backend_default_index')}}" {% endblock %}    
                
{% block body %} 
   <div class="panel white-alpha-90" >    
    <div class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success"  value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>                     
</div> 
            
{% endblock %}
